name: simple_mobile_overlay_loader
description: "A simple loader widget, with custom text for Flutter apps."
version: 0.0.3
homepage: https://github.com/Laplace00/simple_mobile_overlay_loader

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

